<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="communicationTypes" type="System.Configuration.NameValueSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <communicationTypes>
    <add key="All" value="1742" />
    <add key="FTP" value="1740" />
    <add key="Email" value="1741" />
    <add key="SFTP" value="1744" />
  </communicationTypes>
  
  <appSettings>
    <add key="TimerIntervalMilliseconds" value="6000"/>

    <add key="LogFilePath" value="E:\Logs\StandaloneEmailService\log.txt"/>
    <add key="QueryFolderPath" value="E:\MNR\Service\WindowsServiceMNR\EmailService\Queries\"/>
    
    <add key="SmtpHost" value="smtp.gmail.com"/>
    <add key="SmtpPort" value="587"/>
    <add key="EnableSsl" value="true"/>

    <add key="SmtpUser" value="gamerniraj27@gmail.com"/>
    <add key="SmtpPass" value="xdlt zlrh irzf feku"/>

    <add key="ProcessingCommunicationType" value="Email"/>

  </appSettings>
  <connectionStrings>
    <!--<add name="DatabaseConnection" connectionString="Data Source=172.16.23.55;Initial Catalog=MNR_V1;User Id=logstar;Password=logstar@123;MultipleActiveResultSets=True;"  providerName="System.Data.SqlClient" />-->
    <add name="LogStar.GenCare.DatabaseConnection" connectionString="Data Source=jeddah-uat-sqlsrv-qc-01.database.windows.net,1433;Initial Catalog=jeddah-uat-sqldb-mnr;User Id=sqladmin;Password=Zxx36Nm9Bm3a;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>